### Analyses code

### Sanittawan Tan

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# import warnings
# warnings.filterwarnings('ignore')

In [2]:
prelim_dtype = {'year': 'Int64', 'country': 'string', 'Status': 'string'}
dem = pd.read_csv('./democracy.csv')

In [3]:
dem[:15]

,country,year,PR,CL,Status,FH_category,FH_F,FH_NF,FH_PF,BMR_democracy,...,v2elpubfin_ord,v2elembaut_ord,v2elmulpar_ord,v2elvotbuy_ord,v2elfrcamp_ord,v2elfrfair_ord,v2elaccept_ord,v2elasmoff_ord,v2elintim,is_erosion
0,afghanistan,2008,5,6,NF,0,0,1,0,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,afghanistan,2009,6,6,NF,0,0,1,0,0.0,...,0.0,2.0,3.0,0.0,2.0,2.0,3.0,2.0,-0.421,0
2,afghanistan,2010,6,6,NF,0,0,1,0,0.0,...,0.0,2.0,3.0,1.0,2.0,2.0,3.0,2.0,-0.376,0
3,afghanistan,2011,6,6,NF,0,0,1,0,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,afghanistan,2012,6,6,NF,0,0,1,0,0.0,...,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,afghanistan,2013,6,6,NF,0,0,1,0,0.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,afghanistan,2014,6,6,NF,0,0,1,0,0.0,...,0.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,-0.353,0
7,afghanistan,2015,6,6,NF,0,0,1,0,0.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,afghanistan,2016,6,6,NF,0,0,1,0,NaN,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,afghanistan,2017,5,6,NF,0,0,1,0,NaN,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,albania,2008,3,3,PF,1,0,0,1,1.0,...,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
11,albania,2009,3,3,PF,1,0,0,1,1.0,...,3.0,2.0,4.0,1.0,2.0,3.0,3.0,2.0,0.093,1
12,albania,2010,3,3,PF,1,0,0,1,1.0,...,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,albania,2011,3,3,PF,1,0,0,1,1.0,...,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
14,albania,2012,3,3,PF,1,0,0,1,1.0,...,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
nominal = ['v2lgfunds', 'v2lgamend',
            'v2exhoshog', 'v2exaphogp', 'v2exaphos', 'v2ddlexci',
            'v2ddlexrf', 'v2ddlexpl'
]

In [15]:
pd.get_dummies(dem['v2lgamend'], prefix='v2lgamend_')

      v2lgamend__0.0  v2lgamend__1.0
0                  1               0
1                  1               0
2                  1               0
3                  1               0
4                  1               0
5                  1               0
6                  1               0
7                  1               0
8                  1               0
9                  1               0
10                 1               0
11                 1               0
12                 1               0
13                 1               0
14                 1               0
15                 1               0
16                 1               0
17                 1               0
18                 1               0
19                 1               0
20                 1               0
21                 1               0
22                 1               0
23                 1               0
24                 1               0
25                 1               0
26                 1               0
27                 1               0
28                 1               0
29                 1               0
...              ...             ...
1916               0               1
1917               0               1
1918               0               1
1919               0               1
1920               0               1
1921               0               1
1922               0               1
1923               0               1
1924               0               1
1925               0               1
1926               1               0
1927               1               0
1928               1               0
1929               1               0
1930               1               0
1931               1               0
1932               1               0
1933               1               0
1934               1               0
1935               1               0
1936               0               1
1937               0               1
1938               0               1
1939               0               1
1940               0               1
1941               0               0
1942               0               0
1943               0               0
1944               0               0
1945               0               1

[1946 rows x 2 columns]